:root {
    --main-bg-color: white;
}

body{
    background-color:var(--main-bg-color);
    background-image: url('../assets/waldoBackground.jpg');   
    background-size: cover;                 
    background-repeat:   no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    background-color:#fffefe56;
    backdrop-filter:blur(5px);
    width: 80vw;
    margin-bottom: 1rem;
}
h1{
    
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#fffefe56;
    backdrop-filter:blur(5px);
    width: 80vw;
}
